<!DOCTYPE html>
<!-- This website template was created by: Eliza Toomey, 5/18/20 -->
<html lang="en">
<head>
	<link rel="stylesheet" href="css/final_styles.css">
	<title>Best in the Burgh</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
</head>
<body>

	<div id="container">

	<!-- Use the header area for the website name or logo -->
	<header>
		<h1>Best in the Burgh</h1>
		<div id="banner" class="desktop"><img src="images/skyline.jpg" alt="Pittsburgh skyline image"></div>
	</header>
	
	<!-- Use the nav area to add hyperlinks to other pages within the website -->
	<nav>
		<ul>
			<li><a href="final_index.html">Home</a></li>
			<li><a href="about.html">Neighborhoods</a></li>
			<li><a href="food.html">Food</a></li>
			<li><a href="museums_and_stadiums.html">Stadiums</a></li>
			<li><a href="recreation.html">Recreation</a></li>
		</ul>
	</nav>

	<!-- Use the main area to add the main content of the webpage -->
	<main>
	</main>

	<!-- Use the footer area to add webpage footer content -->
	<footer>
		&copy; Copyright 2020. All Rights Reserved.<br>
	</footer>

	</div>
	
</body>
</html>