/* Style sheet created by: Eliza Toomey */

/* Style for body specifies background color */
body {
	background-color: #FFD700;
}

/* Style to create a fluid image */
img {
	max-width: 100%;
}

/* Style for the container centers the page and specifies the width */
#container {
	width: 78%;
	margin-left: auto;
	margin-right: auto;
}

/* Style for the header specifies top margin, background color, rounded corners, and center align content */
header {
	margin-top: 0.2em;
	color: #000000;
	text-align: center;
	font-size: 20px;
}

/* Style for nav specifies text properties */
nav {
	font-family: Verdana, Arial, serif;
	font-size: 1.25em;
	font-weight: bold;
	text-align: center;
}

/* Style specifies margin and padding for the unordered list within the nav */
nav ul {
    margin: 0;
	padding-left: 0.50%;
	padding-right: 0.50%;
}

/* Style for nav li specifies the background color, rounded corners, removes bullet style, and applies margins and padding for list items within the navigation */
nav li {
	background-color: #000000;  
	margin: 0.3em;  
	display: inline;
	float: left;
	border-radius: 0;
	border-top: solid #FFFFFF;
	border-bottom: solid #FFFFFF;
	margin-left: 0;
	margin-right: 0;
	padding: 0;
	width: 20%;
}

/* Style changes navigation link text color to white and removes the underline */
nav li a { 
	color: #FFFFFF; 
	text-decoration: none; 
	display: inline-block;
	padding: 0.7em;
}

/* Style rules for pseudo-classes */ 
nav li a:link {
	color: #FFFFFF;	
}

nav li a:hover {
	color: #FFD700;
	font-style: italic;
}

nav li a:active {
	color: #000080;	
}

/* Style for the main specifies a block display, text properties, margins, padding, rounded corners, and borders  */
main {
	font-family: Georgia, "Times New Roman", sans-serif;
	font-size: 1em;
	padding: 1em;
	background-color: #FFFFFF;
	border-top: solid 0.2em #336699; 
	border-bottom: solid 0.2em #336699;
	clear: left;
	border-style: none;
	box-shadow: 0.5em 0.5em 0.5em #404040;
	margin-bottom: 1em;
	margin-top: 1em;
}

/* Style specifies left and right padding for paragraph elements within the main element */
main p {
	padding-left: 0.5em;
	padding-right: 0.5em;
}

/*Stle specifies float for the figure element*/
figure {
	margin-left: 0;
}


/* Style for the footer specifies font size, text alignment, and top margin */
footer {
	font-size: .70em;
	text-align: center;
	margin-top: 2em;
}

